<% @users.each do |user| %>
  <% next if user == current_user %>

  <div class="col-3">
    <input class="checkbox" type="checkbox" value="<%= user.id %>" name="group[user_ids][]" id="group_user_ids_<%= user.id %>">
    <label for="group_user_ids_<%= user.id %>" class="user-choice">
      <%= user.username %>
      <% if user.avatar.attached? %>
        <%= cl_image_tag user.avatar.key, class: "avatar-large" %>
      <% else %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-large" %>
      <% end %>
      <i class="fa fa-check"></i>
    </label>
  </div>
<% end %>
