<div class="row justify-content-center sign-up-page">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="form-for-group">
      <h2>Create a group</h2>

      <%= simple_form_for :search, url: new_group_path, method: :get do |f| %>
        <div class="search-form-control form-group">
          <div class="search-form-inline">
            <label>Invite your mates</label>

            <input class="form-control search-input" type="text" name="query" id="query" placeholder="Bob" />
            <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      <% end %>

      <%= simple_form_for(@group) do |f| %>

      <!-- User cards -->
      <div class="form-group">
        <!-- <label class="control-label check_boxes optional">Invite your mates (add inline search bar to invite users)</label>
        <input type="hidden" name="group[user_ids][]" value=""> -->
        <div class="user-choices row" id="ajax-search">
          <%= render 'newgroup-users-partial', collection: @users %>
         </div>
      </div>

      <div class="col-xs-6 form-inline mb-3">
          <%= f.input :name, required: false, label: "Group name", placeholder: "Ma best team" %>
        </div>

      <div class="form-actions">
        <%= f.button :submit, "BUILD DAT TEAM", class: "brown-btn mr-2" %>
        <%= link_to "BACK", request.referer, class: "btn orange-btn mr-2" %>
      </div>

      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'search' %>

<!-- SCRIPT WORKS ONLY ON FIRST LOAD (not when the list is re-rendered) -->
<script>
  let choices = document.querySelectorAll(".user-choice")
  choices.forEach((choice) => {
    choice.addEventListener("click", (e) => {
      choice.classList.toggle("active");
    })
  })
</script>


