<div class="row m-0 p-0" style="height: 100vh">

  <!-- LEFT SIDEBARD -->
  <div class="d-none d-md-block col-md-3 col-lg-2 p-0" style="position: sticky; flex: 1">
    <%= render 'shared/left-sidebar', group: @group %>
  </div>

  <div class="col-12 col-md-9 col-lg-10 p-4 mr-4 ml-4" style="position: sticky; flex: 1; height: 100vh; overflow: scroll">
    <h3 style="font-family:'Roboto', sans-serif; color: #2E2E2E; text-align: center"><%= @group.name %>
      <%= link_to "START TRIAL", group_hearing_path(@group, @group.hearings.last), class: "ml-4 btn brown-btn" %>
      <%= link_to "HEARINGS HISTORY", group_hearings_path(@group), class: "ml-4 btn orange-btn" %>
      <%= link_to "CHATROOM", group_chatroom_path(@group, @group.chatroom), class: "ml-4 btn brown-btn" %>
    </h3>

    <div class="card-grid p-4">
      <% @group.users.each do |user| %>
        <% next if user == current_user %>

        <div class="card align-items-center" >
          <% if user.avatar.attached? %>
            <%= cl_image_tag user.avatar.key, class: "card-img-top avatar-bordered mt-4" %>
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "card-img-top avatar-bordered mt-4" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title text-center mb-1"><%= user.username %></h5>

            <!-- CODE FOR SCORE PILL -->
            <%= render 'shared/user-score-pills', user: user %>

            <!-- Modal button -->
            <div class="text-center">
              <button type="button" class="btn orange-btn" id="btnModal" data-toggle="modal" data-target="#my-modal" data-val=<%= user.id %> data-name= <%= user.username %> >
                SNITCH EM UP'
              </button>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="my-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel"></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'newchargeform-partial' %>
      </div>
    </div>
  </div>


<script>
  modalbtns = document.querySelectorAll('#btnModal')

  modalbtns.forEach(btn => {
    btn.addEventListener('click', (event) => {
      let name = event.target.dataset["name"];
      let value = event.target.dataset["val"];

      document.querySelector(".modal-title").innerText = "Snitch " + name;
      document.getElementById("charge_user_ids").value = value;
    });
  });
</script>

<!-- <script>
  const scroll = document.querySelector(".l-scroll");

  const content = document.querySelector(".c-scroll__content");

  scroll.addEventListener('click', (event) => {
    content.classList.toggle('c-scroll__content--active');
  });
</script> -->
