<div class="row m-0 p-0" style="height: 100vh">

  <!-- LEFT SIDEBARD -->
  <div class="d-none d-md-block col-md-3 col-lg-2 p-0" style="position: sticky; flex: 1">
    <% group = @hearing.group %>
    <%= render 'shared/left-sidebar', group: group %>
  </div>

    <div class="col-12 col-md-9 col-lg-10 p-4 mr-4 ml-4" style="position: sticky; flex: 1; height: 100vh; overflow: scroll">
      <h3 style="font-family:'Roboto', sans-serif; color: #2E2E2E; text-align: center">Let's start this week's hearing
      <%= link_to "END SENTENCING", group_hearings_path, method: :post, class: "ml-4 btn brown-btn" %>
      </h3>

    <div class="hearing-carousel mt-4" id="trial-div">
      <% @hearing.user_charges.each_with_index do |usercharge, ind| %>

          <div class="card hearing-card align-items-center p-4 mt-4">
            <div style="margin-bottom: -40px">
              <% if ind == 0 %>
                <h6 class="accusation-title">FIRST ACCUSATION</h6>
              <% elsif usercharge == @hearing.user_charges.last %>
                <h6 class="accusation-title">FINAL ACCUSATION</h6>
              <% else %>
                <h6 class="accusation-title">ACCUSATION N°<%= (ind+1).to_s %></h6>
              <% end %>
            </div>

            <div class="container d-flex" style="padding-left: 35px;">
              <% if usercharge.user.avatar.attached? %>
                <%= cl_image_tag usercharge.user.avatar.key, class: "card-img-top avatar-bordered charged" %>
                <%= image_tag "wanted.png", alt: "alttext", class: "wanted" %>
              <% else %>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "card-img-top avatar-bordered charged" %>
                <%= image_tag "wanted.png", alt: "alttext", class: "wanted" %>
              <% end %>

              <% if usercharge.judge.avatar.attached? %>
                <%= cl_image_tag usercharge.judge.avatar.key, class: "card-img-top avatar-bordered judge" %>
                <%= image_tag "judge.png", alt: "alttext", class: "judge-set" %>
              <% else %>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "card-img-top avatar-bordered judge" %>
                <%= image_tag "judge.png", alt: "alttext", class: "judge-set" %>
              <% end %>
            </div>

            <br>
            <ul style="list-style-type: none; padding: 0 12px; margin-bottom: 2rem">
              <div class="d-flex justify-content-between mb-2" style="font-family:'Roboto', sans-serif; color: #2E2E2E; padding-left: 8px; padding-right: 12px;">
                <li>Charged <span style="color: #FF8965"><%= usercharge.user.username %></span></li>
                <li>Judge <span style="color: #FF8965"><%= usercharge.judge.username %></span></li>
              </div>
              <li><span style="font-family:'Roboto', sans-serif; color: #2E2E2E; margin-top: 16px">Felony category:</span> <%= usercharge.charge.category %></li>
              <li><span style="font-family:'Roboto', sans-serif; color: #2E2E2E;">Felony description:</span> <%= usercharge.charge.description %></li>
              <li class="mt-3 text-center"><span style="font-family:'Roboto', sans-serif; color: #2E2E2E;">VERDICT</span> <span style="color: #FF8965"><strong> <%= usercharge.verdict.upcase %></strong></span></li>
            </ul>

            <div class="bottom-btns">
              <% if usercharge.verdict == "Pending" %>
                <button type="button" class="btn orange-btn" id="sentenceModal" data-toggle="modal" data-target="#my-modal" data-usercharge= <%= usercharge.id %> data-name= <%= usercharge.user.username %> >
                GUILTY
                </button>
                <%= link_to "NOT GUILTY",  user_charge_path(usercharge), method: :patch, class: "btn brown-btn" %>
              <% elsif usercharge.verdict == "Not guilty" %>
                <button type="button" class="btn orange-btn" id="sentenceModal" data-toggle="modal" data-target="#my-modal" data-usercharge= <%= usercharge.id %> data-name= <%= usercharge.user.username %> >
                WAIT A MINUTE...<br />YOU'RE GUILTY!
                </button>
              <% else %>
                <%= link_to "JUDICIAL ERROR...<br />SORRY BRO".html_safe,  user_charge_path(usercharge), method: :patch, class: "btn brown-btn" %>
              <% end %>
            </div>
          </div>

      <% end %>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="my-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel"></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'newsentenceform-partial' %>
      </div>
    </div>
  </div>




<script>
  sentenceBtns = document.querySelectorAll('#sentenceModal')
  // SOMETHING WRONG WITH THE USERCHARGE ID!!!
  sentenceBtns.forEach(btn => {
    btn.addEventListener('click', (event) => {
      let name = event.target.dataset["name"];
      let userCharge = event.target.dataset["usercharge"];

      document.querySelector(".modal-title").innerText = "Sentence " + name;
      document.getElementById("sentence_user_charge_id").value = userCharge;
    });
  });


  // ANIMATING TRIAL

</script>
