<div class="row m-0 p-0" style="height: 100vh">

  <!-- LEFT SIDEBARD -->
  <div class="d-none d-md-block col-md-3 col-lg-2 p-0" style="position: sticky; flex: 1">
    <%= render 'shared/left-sidebar', group: @group %>
  </div>

  <!-- CENTER CONTENT -->
  <div class="col-12 col-md-9 col-lg-10 p-4 mr-4 ml-4" style="position: sticky; flex: 1; height: 100vh; overflow: scroll">
    <h3 class="mb-4">Make your Weekly Commitment <%= link_to "END TRIAL", group_path(@group), class: "btn brown-btn" %></h3>

    <div class="card-grid">
      <% @group.users.each do |user| %>

        <div class="card align-items-center" >
          <% if user.avatar.attached? %>
            <%= cl_image_tag user.avatar.key, class: "card-img-top avatar-bordered mt-4" %>
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "card-img-top avatar-bordered mt-4" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title text-center mb-1"><%= user.username %></h5>
            <% if user.commitments.empty? %>
              <p>No previous record</p>
            <% elsif user.commitments.last.hearing == @group.hearings[-2] %>
              <p>Last hearing commitment: <%= user.user_commitments.last.commitment.description %> </p>
            <% else %>
              <p>No commitments on the previous hearing</p>
            <% end %>

            <!-- Modal button -->
            <div class="text-center">
              <button type="button" class="btn orange-btn" id="btnModal" data-toggle="modal" data-target="#my-modal" data-val=<%= user.id %> data-name= <%= user.username %> >
                COMMIT EM UP'
              </button>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="my-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel"></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <!-- CREATE NEW COMMITMENT PARTIAL -->
        <%= render 'newcommitmentform-partial' %>
      </div>
    </div>
  </div>


<script>
  modalbtns = document.querySelectorAll('#btnModal')

  modalbtns.forEach(btn => {
    btn.addEventListener('click', (event) => {
      let name = event.target.dataset["name"];
      let value = event.target.dataset["val"];

      document.querySelector(".modal-title").innerText = name + "'s Commitment";
      document.getElementById("commitment_user_ids").value = value;
    });
  });
</script>
