<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body style="background-color: #F2F2F2;">
    <%= render 'shared/flashes' %>
    <%= yield %>

    <script>
      let nav = document.querySelector(".navbar-nav");
      if (window.location.href.startsWith("http://localhost:3000/groups")) {
        nav.querySelectorAll(".navbar-brand")[0].classList.add("nav-active");
      } else if (window.location.href.startsWith("http://localhost:3000/users")) {
        nav.querySelectorAll(".navbar-brand")[1].classList.add("nav-active");
      } else if (window.location.href.startsWith("http://localhost:3000/notices")) {
        nav.querySelectorAll(".navbar-brand")[2].classList.add("nav-active");
      } else {
        nav.querySelectorAll(".navbar-brand")[3].classList.add("nav-active");
      };
    </script>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
